img {
    width: 100vw;
    max-height: 1000px;
}

.carousel {
    width: 100%;
    height: 100vh;
    position: relative;
    margin-top: 66px;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: .2s opacity ease-in-out;
    transition-delay: .2s;
}

.slide[data-active] {
    opacity: 1;
    transition-delay: 0;
}

.slide>img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.carousel-btn {
    position: absolute;
    background: none;
    border: none;
    font-size: 4rem;
    top: 50%;
    z-index: 8;
    transform: translatey(-50%);
    color: rgba(255, 255, 255.5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, 0.1);

}

.carousel>ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.carousel-btn:hover,
.carousel-btn:focus {
    color: white;
    background-color: rgba(0, 0, 0, .2);
}

.carousel-btn:focus {
    outline: 1px solid black;
}

.carousel-btn.prev {
    left: 2rem;
}

.carousel-btn.next {
    right: 2rem;
}

.carousel-wrapper {
    display: flex;
    justify-content: center;
}

.slide-txt {
    display: flex;
    z-index: 5;
    font-size: 10rem;
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    align-items: center;
    flex-direction: column;
    color: white;
    -webkit-text-stroke: 3px black;
    font-weight: bold;
    margin-top: 8rem;
}

.right-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-txt {
    font-size: 4rem;
    margin-top: 3rem;
    width: 90%;
}

.slide-img {
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-attachment: fixed;
}

.slide-1 {
    background-image: url('../images/lunchcurry.png');
}

.slide-2 {
    background-image: url('../images/knife-set.png');
}

.slide-3 {
    background-image: url('../images/news/cows.jpg');
}

.slide-4 {
    background-image: url("../images/lunchpizza.png");
}

.slide-btn {
    width: 30%;
    padding: .5rem 2rem;
    font-size: 4rem;
    cursor: pointer;
    border: 2px solid black;
    background-color: #f1dabf89;
    font-weight: bold;
    transition: background-color .2s ease-in-out;
    margin-top: 5rem;
}

.slide-btn a {
    text-decoration: none;
    color: white;
    -webkit-text-stroke: 2px black;
}

.slide-btn:hover {
    background-color: #f1dabf;
}

@media screen and (max-width:480px) {
    .slide-title {
        font-size: 4rem;
        width: 100%;
        margin: 0;
    }

    .title-txt {
        font-size: 2.3rem;
        width: 100%;
        margin-top: 2rem;
    }

    .slide-btn {
        font-size: 2rem;
        width: 65%;
        margin-top: 2rem;
    }

    .slide-txt {
        -webkit-text-stroke: 2px black;
    }

    .carousel-btn {
        font-size: 3rem;
        top: 45%;
    }

    .carousel-btn.prev {
        left: 1rem;
    }

    .carousel-btn.next {
        right: 1rem;
    }
}