.footer-a-wrapper {
    display: flex;
}

.footer-left {
    width: 45%;
    margin-left: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-right {
    width: 45%;
}

.form-wrapper {
    display: flex;
    width: 30rem;
    background-color: #f1dabf;
    padding: 10px;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 30px;
}

.newsletter {
    font-size: 2rem;
    color: #17252A;
    margin-right: 5%;
    font-weight: bold;
}

.newsletter-btn {
    font-size: 1.2rem;
    border: none;
    background-color: white;
    cursor: pointer;
    border-radius: 25px;
    width: 95%;
    font-weight: bold;
    padding: 10px;
    margin: 5px 0;
    transition: all .25s;
}

.newsletter-btn:hover {
    background-color: #04030F;
    color: white;
}

.footer-wrapper {
    height: 100%;
    background-color: #3d3633;
    /* margin-top: 3rem; */
    padding-top: 1rem;
}

.footer-flex {
    display: flex;
    align-items: center;
}

.ftrtxt {
    font-size: 1.4rem;
    text-decoration: none;
    font-weight: bold;
    color: WHITE;
    padding: 10px;
    text-align: center;
}

i {
    font-size: 2rem;
    color: white;
    text-align: center;
    padding: 10px;
    transition: all 0.25s;
}

.ftrbtn {
    border: 2px solid #f1dabf;
    display: flex;
    flex-direction: column;
    width: 120px;
    height: 120px;
    cursor: pointer;
    margin: 10px;
    transition: all 0.25s;
    text-decoration: none;
}

.ftrbtn:hover {
    background-color: white;
}

.ftrbtn:hover .home {
    color: black;
}

.copy {
    text-align: center;
    color: #f1dabf;
    margin-top: 3rem;
    padding-bottom: 10px;
}

.copy>a {
    text-decoration: none;
    color: #f1dabf;
}

@media screen and (max-width:480px) {
    .footer-flex {
        display: block;
    }

    .form-wrapper {
        width: 100%;
        margin-top: 2rem;
    }

    .footer-left {
        width: 100%;
        margin: 0;
    }

    .footer-right {
        width: 100%;
    }

    .ftrbtn {
        margin-left: 0;
        margin: 2.5%;
    }

    .footer-a-wrapper {
        flex-direction: row;
        margin-top: 2rem;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 2rem;
    }
}