* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
}

.heading-title {
    text-align: center;
}

h1 {
    font-size: 4rem;
    font-weight: bold;
    color: white;
    z-index: 5;
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    text-shadow: -5px 5px 10px black;
    margin: 0;
}

@media screen and (max-width:480px) {}