.popup {
    display: none;
}

.popup-active {
    display: block;
    width: 40%;
    height: 60%;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: #f1dabf;
    transform: translate(-50%, -50%);
    opacity: 1;
    pointer-events: all;
    z-index: 20;
}

.popup-exit {
    color: black;
    font-weight: bold;
    font-size: 2rem;
    cursor: pointer;
    width: 50px;
    display: flex;
    justify-content: center;
    padding: 5px;
}

.popup-top {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: #92817af3;
}

.popup-exit:hover {
    background-color: rgba(255, 0, 0, 1);
    font-weight: bolder;
    color: white;
}

.body-inactive {
    overflow: hidden;
}

.darken-page {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 19;
}

.popup-title {
    font-size: 2rem;
    margin-top: 1.5rem;
    text-align: center;
    font-weight: bold;
    width: 90%;
    margin-left: 5%;
    color: white;
    text-shadow: 0 0 10px black;
}

.popup-form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-text {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 2rem;
    text-shadow: 0 0 10px black;
    color: white;
}

.form-field {
    width: 55%;
    padding: 8px;
    font-size: 1.3rem;
    background-color: #17252A;
    color: white;
    border: none;
    margin-top: 10px;
}

.popup-submit {
    padding: 10px;
    width: 55%;
    background-color: #17252A;
    color: white;
    margin-top: 3.5rem;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 25px;
}

.popup-submit:hover {
    box-shadow: 0 0 10px white;
    transform: scale(1.05);
}

.form-field:hover {
    box-shadow: 0 0 10px white;
}

.submitted {
    display: none;
}

.submitted-text {
    display: none;
    margin-top: 3rem;
}


@media screen and (max-width:480px) {
    .popup-active {
        width: 100%;
        height: 54%;
    }

    .popup-title {
        font-size: 1.3rem;
    }

    .form-field {
        font-size: .8rem;
        margin-top: 5px;
    }

    .form-text {
        font-size: 1rem;
        margin-top: 1rem;
    }

    .popup-submit {
        font-size: 1rem;
        margin-top: 1rem;
    }

    .submitted-text {
        margin-top: 1rem;
        font-size: 1rem;
    }
}