.table-wrapper {
    width: 50%;
    height: 100%;
}

.table-title {
    font-weight: bold;
    font-size: 4rem;
    color: #f4fbfb;
    text-shadow: 0 0 10px black;
    background-color: #f1dabf;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    width: 100%;
    padding: 5px;
}

th,
td {
    width: 160px;
    border: 2px solid black;
    padding: 16px;
    text-align: center;
}

table {
    border-collapse: collapse;
    background-color: white;
    width: 100%;
    height: 100%;
}

.tips-title {
    font-size: 9rem;
    font-weight: bold;
    text-align: center;
    color: white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 4px;
}

.tips-sub {
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    width: 90%;
    margin-top: 1rem;
    color: white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 3px;
    margin-bottom: 5rem;
}

.title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../images/knife.png");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.content-wrapper {
    display: flex;
}

.tools-wrapper {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.tool-wrapper {
    width: 50%;
    height: 50%;
    position: relative;
    transition: all 0.25s;
}

.tool1 {
    background-image: url('../images/knife-set.png');
    height: calc(752px/2);
    background-size: cover;
    background-position: center;
}

.tool2 {
    background-image: url('../images/cuttingboard.jpg');
    height: calc(752px/2);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

.tool3 {
    background-image: url('../images/grater.png');
    height: calc(752px/2);
    background-size: cover;
    background-position: center;
}


.tool4 {
    background-image: url('../images/knife-sharpener.png');
    height: calc(752px/2);
    background-size: cover;
    background-position: center;
}

.tool-name {
    position: absolute;
    font-size: 2rem;
    font-weight: bold;
    bottom: 0px;
    width: 100%;
    text-align: center;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.671), transparent);
    color: white;
    padding: 1rem;
}

.tool-wrapper:hover {
    transform: scale(1.03);
    cursor: pointer;
    z-index: 20;
}

.tool-wrapper>a {
    text-decoration: none;
    color: black;
}

.video-wrapper {
    display: flex;
    /* height: 1200px; */
    flex-direction: column;
    margin-top: 1rem;
}

iframe {
    width: 50%;
    height: 540px;
    cursor: pointer;
    display: block;
}

.video-block {
    display: flex;
    height: 100%;
}

@media screen and (max-width: 480px) {
    .table-wrapper {
        width: 100%;
    }

    table {
        overflow-x: auto;
        display: block;
    }

    .content-wrapper {
        display: block;
    }

    th,
    td {
        font-size: .9rem;
    }

    .tools-wrapper {
        width: 100%;
        display: block;
    }

    .tool-wrapper {
        width: 100%;
    }

    .table-title {
        font-size: 2rem;
        padding: 10px;
    }

    .tips-title {
        font-size: 3em;
        -webkit-text-stroke: 2px black;
    }

    .tips-sub {
        font-size: 1.5rem;
        -webkit-text-stroke: 1px black;
    }

    .video-block {
        display: block;
    }

    iframe {
        width: 100%;
        height: 200px;
        margin-bottom: .5rem;
    }

    .tool-name {
        font-size: 1.5rem;
    }
}